{% extends "base.html" %}

{% block page %}
{% load static %}
<div class="section-header">
	<h1> 
    	<small class="light">Пользователи</small>
	</h1>
</div>

<section class="section section-alt section-padded">
    <div class="container-fluid">
        <div class="section-header">
        	<h3 style>Выберите, чтобы увидеть статистику</h2>
		</div>
        <ul class="inline row-fluid">
			<table class="users table table-striped table-bordered table-hover">
				<thead>
					<tr>
						<th>E-mail</th>
						<th>First Name</th>
						<th>Second Name</th>
					</tr>
				</thead>
				<tbody>
				{% for usr in users %}
					<tr>
							<td><a href="/custom-admin/statistic?type=user&id={{ usr.user.id }}" style="position:absolute; width:92%;">{% if usr.user.first_name %}{{ usr.user.first_name }}{% else %}-{% endif %}</a></td>
							<td>{% if usr.user.last_name %}{{ usr.user.last_name }}{% else %}-{% endif %}</td>
                            <td>
                                {% for rk in usr.rk %}
                                    {{ rk.0.title }} #{{ rk.1 }} {{ rk.3 }}/{{ rk.2 }}<br/>
                                {% endfor %}
                            </td>
  					</tr>
            	{% endfor %}
				</tbody>
        	</table>
		</ul>
    </div>
</section>
{% endblock %}
