{% extends "base.html" %}

{% block page %}
{% load static %}
<script type="text/javascript" src={% static 'javascripts/jscharts.js' %}></script>
<div class="section-header">
    <h1> 
        <small class="light">Статистика</small>
    </h1>
</div>

<section class="section section-alt section-padded">
    <div class="container-fluid">
        <div class="section-header">
            <h3 style>Выберите РК</h2>
        </div>
        <div class="tabbable">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab1" data-toggle="tab">Раздел 1</a></li>
                <li><a href="#tab2" data-toggle="tab">Раздел 2</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab1">
                <p>1</p>
                </div>
                <div class="tab-panel">
                <p>2</p>
                </div>
            </div>
        </div>
        <ul class="inline row-fluid">
            <table class="users table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Nickname</th>
                        <th>E-mail</th>
                        <th>First Name</th>
                        <th>Second Name</th>
                    </tr>
                </thead>
                <tbody>
                {% for usr in users %}
                    <tr><a href="/custom-admin/user/?login={{ usr.username }}">
                            <td><a href="/custom-admin/user/?login={{ usr.username }}" style="position:absolute; width:92%;">{{ usr.username }} </a></td>
                            <td>{% if not usr.email %}-{% else %}{{ usr.email }}{% endif %}</td>
                            <td>{{ usr.first_name }}</td>
                            <td>{{ usr.last_name }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </ul>
    </div>
</section>
{% endblock %}

