{% extends "base.html" %}

{% block page %}
{% load static %}

<section class="section section-alt section-padded">
    <div class="container-fluid">
        <div class="section-header">
            <h2>{{ student.username }}</h2>
        </div>
        <ul class="inline row-fluid">    
<!--TODO: nav menu
		<h3>Список вопросов</h3>
		<ul class="nav nav-list">
        {% for session_output in user_sessions %}
			{% if session_output.session.attempt == 1 %}<li class="nav-header">{{ session_output.session.rk.title }}</li>{% endif %}
			<li ><a href="#{{ session_output.session.rk.title }} {{ session_output.session.attempt }}">{{ session_output.session.attempt }}</a></li>
			<ul class="nav nav-list">
				{% for session_question in session_output.session_questions %}
            		<li>{{ session_question.question.description }}</li>
        		{% endfor %}
			</ul>
		{% endfor %}
		</ul>
-->
		{% if not user_sessions %}<h3>Студенту не хватило мотивации ни на один рк:(</h3>{% endif %}
		{% for session_output in user_sessions %}
			<h3 id= "{{ session_output.session.rk.title }}">{{ session_output.session.rk.title }}</h3>
			<h4 id= "{{ session_output.session.rk.title }} {{ session_output.session.attempt }}"> Попытка № {{ session_output.session.attempt }}</h4>
			<h5> Правильно......{{ session_output.questions_right_count }}/{{ session_output.questions_all_count }}</h5>
			<table class="users table table-bordered">
                <thead>
                    <tr>
						<th style="width:150px">#</th>
                        <th>Запрос</th>
                        <th>Результат</th>
                    </tr>
                </thead>
                <tbody>
        		{% for session_question in session_output.session_questions %}		
					<tr style="background-color:#fff">
						<td>Вопрос</td>
						<td colspan="2">{{ session_question.question.description }}</td>
					</tr>
                    <tr class="info">
						<td>Преподаватель</td>
						<td>{{ session_question.question.answer }}</td> 
            			<td class="answer">{{ session_question.get_right_records }} </td>
					</tr>
                    <tr class="warning">
						<td>Студент</td>
            			<td>{{ session_question.last_answer }} </td>
						<td class="answer">{{ session_question.get_user_records }} </td>	
					</tr>
					<tr class={% if session_question.is_right %}"success">
						<td colspan=3><h4 style="text-align:center">Совпадение</h4></td>
						{% elif session_question.get_user_records %}"error">
						<td colspan=3><h4 style="text-align:center">Расхождение</h4></td>
						{% else %}>
						<td colspan=3><h4 style="text-align:center">Нет ответа</h4></td>
						{% endif %}
                {% endfor %}
				</tbody>
            </table>
		{% endfor %}
        </ul>
    </div>
{% for session_output in user_sessions %}
   	<ul class="rk-headers">
    {% if session_output.session.attempt == 1 %}<li><a href="#{{ session_output.session.rk.title }}">{{ session_output.session.rk.title }}</a></li>{%endif%}
	<!--<div style="position:fixed; left:-15px; top:200px; z-index:5000; width:135px; height:40px; background-image: url(/resources/images/navigation.png)"></div>--!>
{% endfor %}
</section>
{% endblock %}
