{% extends "base.html" %}

{% block page %}
{% load static %}

<script type="text/javascript" src="/resources/javascripts/jscharts.js"></script>
<section class="section section-alt section-padded">
    <div class="container-fluid">
        <div class="section-header">
            <h3>{{ student.username }}</h3>
			<h3>{{ student.first_name }} {{ student.last_name }}</h3>
        </div>

<ul class="rk-headers">
{% for session_output in user_sessions %}                                                                                                             
<!--Navigation static-->
   	{% if session_output.session.attempt == 1 %}<li name="#RK{{session_output.session.rk.id}}"><a>{{ session_output.session.rk.title }}</a></li>{%endif%}
<!-- END Navigation static-->
{% endfor %}
</ul>
<!--End Modals Block -->
		{% if not user_sessions %}<h3>Студенту не хватило мотивации ни на один рк:(</h3>{% endif %}
		{% for session_output in user_sessions %}
			{% if session_output.session.attempt == 1 %}
			{% with user_sessions|first as firstus %}
				{% if not firstus == session_output %}</div>{% endif %}
			{% endwith %}
			<div class="rk-view" id="RK{{ session_output.session.rk.id }}">
                <h3>
                    {{ session_output.session.rk.title }}
				    {% if is_admin %}
                        <a href="#add_attempt" data-target="#add_attempt{{ session_output.session.rk.id }}" data-toggle="modal">
                            <small style="color:blue"> (Нужно больше попыток?)</small>
                        </a>
                    {% endif %}
                </h3>
				<div class="modal hide fade" id="add_attempt{{ session_output.session.rk.id }}">
    	        	<div class="modal-header">
        	    		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            			<h3>Добавить попытку?</h3>
            		</div>
            		<div class="modal-body">
            			<div class="confirm_link" style="margin-top:-5px;float:right">
                			<a href="" class="btn" data-dismiss="modal" aria-hidden="true">:(</a>
                			<a href="/custom-admin/user_action/?type=add_attempt&rkid={{ session_output.session.rk.id }}&uid={{ student.id }}" class="btn btn-primary" style="margin-left:10px">Работаем.</a>
            			</div>
		            </div>
				</div>
			{% endif %}
				<div style="margin:5px 0px 0px 0px"><button class="btn-info btn open-attempt" type="button" id="button_RK{{ session_output.session.rk.id }}Att{{ session_output.session.attempt }}">Попытка № {{ session_output.session.attempt }}</button><h4> Правильно......{{ session_output.questions_right_count }}/{{ session_output.questions_all_count }}</h4></div>
				<div class="attempt-view" id="RK{{ session_output.session.rk.id }}Att{{ session_output.session.attempt }}">
					<table class="attempt-table table table-bordered ">
        	        	<thead>
            	        	<tr>
								<th style="width:150px;border-bottom:2px solid black;">#</th>
                                {% with session_output.session_questions|first as fssque  %}
                                    {% if fssque.question.type.isSQLQuery or fssque.question.type.isNoSQLQuery %}
                                        <th style="border-bottom:2px solid black;">Запрос</th>
                                    {% endif %}
                                    {% if not fssque.question.type.isNoSQLQuery %}
                                        <th style="border-bottom:2px solid black;">Результат</th>
                                    {% endif %}
                                {% endwith %}
	        	            </tr>
    	        	    </thead>
        	        	<tbody>
        				{% for session_question in session_output.session_questions %}
							<tr class="hided RK{{ session_output.session.rk.id }}Att{{ session_output.session.attempt }}Que{{session_question.question.id}}" style="background-color:#fff; border-top:2px solid black;cursor:pointer;">
								<td>Вопрос</td>
								<td colspan="2" style="">{{ session_question.question.description_html|safe }}</td>
							</tr>
                            {% if is_admin %}
                                <tr class="info hided RK{{ session_output.session.rk.id }}Att{{ session_output.session.attempt }}Que{{session_question.question.id}}">
                                    <td>Преподаватель</td>
                                    {% if session_question.question.type.isSQLQuery or session_question.question.type.isNoSQLQuery %}
                                        <td>{{ session_question.question.answer_html|safe }}</td>
                                    {% endif %}
                                    {% if not session_question.question.type.isNoSQLQuery %}
                                        <td class="answer">{{ session_question.get_right_records }} </td>
                                    {% endif %}
                                </tr>
                            {% endif %}
		                    <tr class="warning hided RK{{ session_output.session.rk.id }}Att{{ session_output.session.attempt }}Que{{session_question.question.id}}">
								<td>Студент</td>
                                {% if session_question.question.type.isSQLQuery or session_question.question.type.isNoSQLQuery %}
        		    			    <td>{{ session_question.last_answer_html|safe }} </td>
                                {% endif %}
								{% if not session_question.question.type.isNoSQLQuery %}
            					    <td class="answer">{{ session_question.get_user_records }} </td>
                                {% endif %}
							</tr>
								<tr id="RK{{ session_output.session.rk.id }}Att{{ session_output.session.attempt }}Que{{session_question.question.id}}" class={% if session_question.is_right %}"success">
								<td colspan=3 style="border-bottom:2px double black;"><h4 style="text-align:center">Совпадение</h4></td>
								{% elif session_question.get_user_records %}"error">
								<td colspan=3 style="border-bottom:2px solid black;">
                                    <h4 style="text-align:center">
                                        Расхождение
                                        {% if not session_question.is_right == 1 and is_admin %}
                                            <a href="#make_rightRK{{ session_output.session.rk.id }}Att{{ session_output.session.attempt }}Que{{session_question.question.id}}" data-target="#make_rightRK{{ session_output.session.rk.id }}Att{{ session_output.session.attempt }}Que{{session_question.question.id}}" data-toggle="modal" style="color:green"> (Верный ответ?)</a>
                                        {% endif %}
									</h4>
                                </td>
								{% else %}>
								<td colspan=3><h4 style="text-align:center">Нет ответа</h4></td>
								{% endif %}
							<!--Modals block-->
                               {% if is_admin %}
									<div class="modal hide fade" id="make_rightRK{{ session_output.session.rk.id }}Att{{ session_output.session.attempt }}Que{{session_question.question.id}}">
										<div class="modal-header">
							    			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
								    	    <h3>Изменить статус?</h3>
									    </div>
								    	<div class="modal-body">
											<p>Вы уверены, что ваш ответ верен?</p>
											<div class="confirm_link" style="margin-top:-5px;float:right">
							    	    		<a href="" class="btn" data-dismiss="modal" aria-hidden="true">Отмена</a>
								    			<a href="/custom-admin/user_action/?type=answer_is_right&att={{session_output.session.attempt}}&queid={{session_question.question.id}}&rkid={{ session_output.session.rk.id }}&uid={{ student.id }}" class="btn btn-primary ajax-make-que-right-admin" data-dismiss="modal" aria-hidden="true" style="margin-left:10px">ДА!</a>
								    		</div>
										</div>
									</div>
                               {% endif %}
						{% endfor %}
						</tbody>
	            	</table>
				<div style="margin:5px 0px 0px 0px; float:right"><button class="btn-warning btn open-attempt" type="button" id="button_RK{{ session_output.session.rk.id }}Att{{ session_output.session.attempt }}">Скрыть № {{ session_output.session.attempt }}</button></div>
				</div>
			{% with user_session|last as lastus %}
				{% if lastus == session_output  %}</div>{% endif %}
			{% endwith %}			
		{% endfor %}
	</div>
</section>
{% endblock %}
