{% extends "db_autotest/base.html" %}

{% block page %}
{% load static %}

<div id="content" role="main">
    <!-- Promo Section -->
    <section class="section section-alt">
        <div class="row-fluid">
            <div class="super-hero-unit">
                <figure>
                    <img alt="some image" src="{% static "images/assets/landscapes/landscape-3-1250x600.jpg" %}"/>

                    <figcaption class="flex-caption">
                        <h1 class="hyper animated fadeinup delayed">
                            404
                        </h1>
                    </figcaption>
                </figure>
            </div>
        </div>
    </section>
</div>

{% endblock %}