{% extends "base.html" %}

{% block page %}
{% load static %}
<div id="content" role="main">
    <!-- Promo Section -->
    <section class="section section-alt">
        <div class="row-fluid">
            <div class="super-hero-unit">
                <figure>
                    <img alt="some image" src="{% static "images/assets/landscapes/landscape-2-1250x300.jpg" %}"/>
                    <figcaption class="flex-caption">
                        <h1 class="super animated fadeinup delayed">
                            Вход
                        </h1>
                    </figcaption>
                </figure>
            </div>
        </div>
    </section>

    <div class="row-fluid">
        <ul class="portfolio">
            <li class="span12">
            	<figure>
				{{ now_url }}
                    {#   TODO: Расширить вывод ошибок                   #}
               		<figcaption>
                        <form action="/{{ login_url }}" method="post"> {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-primary" type="button">Подтвердить</button>
                        </form>
                    </figcaption>
                </figure>
            </li>
        </ul>
    </div>
</div>

{% endblock %}
