{% extends "base.html" %}

{% block page %}
{% load static %}
<div id="content" role="main">
    <!-- Promo Section -->
    <section class="section section-alt">
        <div class="row-fluid">
            <div class="super-hero-unit">
                <figure>
                    <img alt="some image" src="{% static "images/assets/landscapes/landscape-2-1250x300.jpg" %}"/>
                    <figcaption class="flex-caption">
                        <h1 class="super animated fadeinup delayed">
                            Вход
                        </h1>
                    </figcaption>
                </figure>
            </div>
        </div>
    </section>

    <div class="row-fluid">
        <ul class="portfolio">
            <li class="span12">
            	<figure>
				{{ now_url }}
                    {#   TODO: Расширить вывод ошибок                   #}
               		<figcaption>
                        <form class="login_form" action="{{ login_url }}" method="post"> {% csrf_token %}
                            {{ form_auth.as_p }}
                            <button type="submit" class="btn btn-primary" type="button">Подтвердить</button>
							<br>
							<a href="#restore" class="restore_link">Restore Password</a>
                        </form>
						<form class="restore_form" action="{{ restore_url }}" method="post" style="display:none"> {% csrf_token %}
                            {{ form_pass_restore.as_p }}
                            <button type="submit" class="btn btn-primary" type="button">Подтвердить</button>
							<br>
							<a href="#" class="login_link">Back to login</a>
                        </form>
                    </figcaption>
                </figure>
            </li>
        </ul>
    </div>
</div>

{% endblock %}
