<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"/>
    <title>{{ title }}</title>
    <meta content="Bootsrap based theme" name="description"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    {% load static %}
    <!--[if lt IE 9]>
    <script src='{% static "http://html5shim.googlecode.com/svn/trunk/html5.js"%}'></script>
    <script src='{% static "javascripts/PIE.js"%}'></script>
  <![endif]-->
    <link href="favicon.ico" rel="shortcut icon"/>
    <link href='{% static "images/apple-touch-icon-144-precomposed.html" %}' rel="apple-touch-icon-precomposed"
          sizes="144x144"/>
    <link href='{% static "images/apple-touch-icon-114-precomposed.html" %}' rel="apple-touch-icon-precomposed"
          sizes="114x114"/>
    <link href='{% static "images/apple-touch-icon-72-precomposed.html" %}' rel="apple-touch-icon-precomposed"
          sizes="72x72"/>
    <link href='{% static "images/apple-touch-icon-57-precomposed.html" %}' rel="apple-touch-icon-precomposed"/>
    {% block css %}
    <link href='{% static "stylesheets/bootstrap.css" %}' media="screen" rel="stylesheet" type="text/css"/>
    <link href='{% static "stylesheets/responsive.css" %}' media="screen" rel="stylesheet" type="text/css"/>
    <link href='{% static "stylesheets/font-awesome.css" %}' media="screen" rel="stylesheet" type="text/css"/>
    <link href='{% static "stylesheets/theme.css" %}' media="screen" rel="stylesheet" type="text/css"/>
    <link href='{% static "stylesheets/fonts.css" %}' media="screen" rel="stylesheet" type="text/css"/>
    {% endblock %}
    {% block js %}
    <script type="text/javascript" src="{% static 'javascripts/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/jquery.flexslider-min.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/jquery.form.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/jquery.tweet.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/jquery.form.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/script.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/switcher.js' %}"></script>
    {% endblock %}
</head>

{% if error_msg %}
<div class="alert alert-error animated fadeinup"><a href="#" class="close" data-dismiss="alert">&times;</a>
	{% if error_msg == "login failed" 		%}Извините вы ошиблись с логином или паролем
	{% elif error_msg == "confirm failed" 	%}Не удалось восстановить пароль
	{% elif error_msg == "no user" 			%}Такого пользователя не существует
	{% elif error_msg == "no time" 			%}Время вышло
	{% elif error_msg == "no attemptes" 	%}Не хватает попыток
	{% elif error_msg == "session closed"	%}Вы уже закончили сессию
	{% elif error_msg == "disabled user"    %}Не хватает попыток
	{% elif 
	error_msg == "another test running"    	%}Вы уже выполняете тест, завершите, чтобы начать следующий
	{% else %}
		{{ error_msg }}
	{% endif %}
</div>
{% endif %}

{% if success_msg %}
<div class="alert alert-success animated fadeinup delayed"><a href="#" class="close" data-dismiss="alert">&times;</a>
	{% if success_msg == "confirm success" 	%}Восстановление прошло успешно, пароль отправлен на почту
	{% elif success_msg == "look at mail" 	%}Проверьте вашу почту
	{% else %}
		{{error_msg}}
	{% endif %}
</div>
{% endif %}

{% if warn_msg %}
<div class="alert alert-success animated fadeinup delayed"><a href="#" class="close" data-dismiss="alert">&times;</a>
	{% if watn_msg == "confirm success" %}Восстановление прошло успешно
	{% else %}
		{{ error_msg }}
	{% endif %}
</div>
{% endif %}
<body class='theme-pattern-lghtmesh'>
{% block head %}
<div class="wrapper">
    <!-- Page Header -->
    <header id="masthead">
        <nav class="navbar navbar-static-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>

                    <h1 class="brand">
                            ТехноПарк@<span class="light">Mail.ru</span>
                    </h1>

                    <div class="nav-collapse collapse">
                        <ul class="nav pull-right">
			
                            {% if user.is_authenticated %}
                                {% if is_admin %}
                                    {% if not is_custom_admin_index %}
                                        <li class=""><a href="/custom-admin/"> Статистика </a></li>
                                    {% endif %}
                                    <li class=""><a href="/admin/"> Админка </a></li>
                                {% endif %}
                                {% if not hide_tests_url and not is_user_index %}
                                    <li class=""><a href="{{ tests_url }}">Тесты</a></li>
                                {% endif %}
                            {% if have_time and have_time > 0 %}
							<li class="close_session"><a href="#close_session" data-target="#close_session" data-toggle="modal">Завершить тест</a></li>
							<div class="modal hide fade" id="close_session">
                				<div class="modal-header">
                    				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    				<h3>Завершить тест?</h3>
                				</div>
                				<div class="modal-body">
                    				<div class="confirm_button_block" style="margin-top:-5px;float:right">
                        				<a href="#" class="btn" data-dismiss="modal" aria-hidden="true">Отмена</a>
                        				<a href="/close_session" class="btn btn-primary" style="margin-left:10px">Завершить</a>
                    				</div>
                				</div>
            				</div>
                            <li class="session_timer"><a> Осталось: {{ have_time }} min</a></li>

                            {% endif %}


                                <li class="dropdown">
                                <a class="dropdown-toggle" href="#"
                                   data-toggle="dropdown open">{{ user.username }}</a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#">Настройки</a>
                                    </li>
                                    <li>
{#                                        <a href="{% url 'gamer-detail' user.id %}">Профиль</a>#}
                                    </li>
                                    <li>
                                        <a href="{{ logout_url }}">Выйти</a>
                                    </li>
                                </ul>
                            </li>
                            {% else %}
								{% if not is_login_page %}
                            <li class=""><a href="{{ login_url }}">Войти</a></li>
								{% endif %}
                            {% endif %}
                            <!-- -->
                            <li class=""><a href="#"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    {% endblock %}
    {% block page %}
    {% endblock %}
</div>

<!-- Page Footer -->
<footer id="footer" role="contentinfo">
    <div class="wrapper wrapper-transparent">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span6 small-screen-center">
                    <h3>
                        <a href="http://tech-mail.ru/">
                            tech <span class="light"> park </span>
                        </a>
                    </h3>
                    <p>
                        <br/>
                        &copy; Copyright 2014
                    </p>
                </div>
                <div class="span6">
                    <ul class="unstyled inline text-right small-screen-center big social-icons">
{#                        <li>#}
{#                            <a data-iconcolor="#3b5998" href="#">#}
{#                                <i class="icon-facebook"></i>#}
{#                            </a>#}
{#                        </li>#}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

</body>
