{% extends "base.html" %}

{% block page %}
{% load static %}

<section class="section section-alt section-padded">
    <div class="container-fluid">
        <div class="section-header">
            <h1>
                Выбери
                <small class="light">тему!</small>
            </h1>
        </div>
        <ul class="inline row-fluid">
            {% for test in tests %}
            <li class="span4">
                <div class="well blockquote-well">
                	<a href={% if have_time > 0 %}"{{ tests_url }}?testid={{ test.id }}"{% else %}"#confirm" data-target="#confirm_{{test.id}}" data-toggle="modal" {% endif %}>
					<p> {{ test.title }} </p>
                    <blockquote>
                    	<p>
                        	{{ test.description }}
                        </p>
                        <small>
                        	Осталось попыток: {{ test.attemptes_amount }}
                        </small>
                    </blockquote>
					</a>
                </div>
            </li>

			<div class="modal hide fade" id="confirm_{{test.id}}">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h3>{% if test.attemptes_amount == 0 %}Уупс......{% else %}Начать тест?{% endif %}</h3>
				</div>
				<div class="modal-body">
					<p>{% if test.attemptes_amount == 1 %}У вас осталась 1 попытка!
					{% elif test.attemptes_amount == 0 %}У вас закончились попытки :({% else %}
					У вас осталось {{ test.attemptes_amount }} {% if test.attemptes_amount > 1 and test.attemptes_amount < 4%}попытки!{% else %}попыток!{% endif %}
					{% endif %}</p>
					<div class="confirm_button_block" style="margin-top:-5px;float:right">
						<a href="#" class="btn" data-dismiss="modal" aria-hidden="true">Закрыть</a>
						{% if test.attemptes_amount > 0 %}
						<a href="{{ tests_url }}?testid={{ test.id }}&confirm_start=yes" class="btn btn-primary" style="margin-left:10px">Начать тест</a>
						{% endif %}
					</div>
				</div>
			</div>                                                                                                                                                 	
            {% endfor %}
        </ul>
		{% if have_time and have_time > 0 %}
		<button class="btn btn-danger" type="button" style="float:right" href="#close_session" data-target="#close_session" data-toggle="modal">Завершить текущий тест</button>
			<div class="modal hide fade" id="close_session">
               	<div class="modal-header">
                	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	                <h3>Завершить тест?</h3>
				</div>
        	    <div class="modal-body">
            		<div class="confirm_button_block" style="margin-top:-5px;float:right">
                		<a href="#" class="btn" data-dismiss="modal" aria-hidden="true">Отмена</a>
                    	<a href="/close_session" class="btn btn-primary" style="margin-left:10px">Завершить</a>
	                </div>
    	        </div>
        	</div>
		{% endif %}
    </div>
</section>
{% endblock %}
